.onebeld-logo.main {
    max-width: 500pt;
    width: 100%;
    /* center */
    margin: 0 auto;
}

.onebeld-logo.main > svg {
    width: auto;
}

.slogan {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
}

p.slogan-text {
    margin-top: 50pt;
    text-align: center;
    font-family: var(--onebeld-font-family-header);
    font-size: 28pt;
}

.info-containers {
    display: flex;
    flex-direction: column;
    gap: 100pt;
    margin: 0 50pt 50pt;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40pt;
    opacity: 0;
    transform: translateY(30%);
    transition: transform 500ms ease-out, opacity 500ms ease-out;
}

.info-card {
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
}

.info-card:hover {
    filter: drop-shadow(0 0 15pt rgb(61, 203, 38));
}

.info-container.right {
    flex-direction: row-reverse;
}

.description {
    line-height: 1.4;
}

.info-title {
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    .info-containers {
        margin: 0 10pt 50pt;
    }

    .info-container {
        gap: 10pt;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-container.right {
        flex-direction: column;
    }
}