@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --onebeld-color: #f0f0f0;
    --onebeld-border-color: rgba(69, 84, 67, 0.45);
    --onebeld-color-secondary: rgba(240, 240, 240, 0.38);
    --onebeld-background: #193b19;

    --onebeld-background-color-hover: rgba(240, 240, 240, 0.09);
    --onebeld-background-color-active: rgba(240, 240, 240, 0.05);

    --onebeld-color-selected: #c7ffad;
    --onebeld-color-pressed: #7db464;

    --onebeld-font-family-header: Montserrat, sans-serif;
    --onebeld-font-family-main: Roboto, sans-serif;

    --onebeld-font-size-header: 24px;
    --onebeld-font-size-main: 18px;

    --onebeld-border-radius: 8pt;
    --onebeld-block-background-color: rgba(24, 31, 21, 0.77);

    --circle-size: 80%;
    --blending: hard-light;

    /* Gradient colors */
    --color1: rgba(6, 153, 32, 0.8);
    --color1-hidden: rgba(6, 153, 32, 0.0);

    --color2: rgba(6, 153, 132, 0.8);
    --color2-hidden: rgba(6, 153, 132, 0.0);

    --color3: rgba(6, 153, 82, 0.8);
    --color3-hidden: rgba(6, 153, 82, 0.0);

    --color4: rgba(36, 153, 6, 0.8);
    --color4-hidden: rgba(36, 153, 6, 0.0);

    --color5: rgba(6, 126, 153, 0.8);
    --color5-hidden: rgba(6, 126, 153, 0.0);

    --color-interactive: rgba(57, 153, 107, 0.8);
    --color-interactive-hidden: rgba(57, 153, 107, 0.0);

    --svg-noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='300'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.55' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='300' height='300' fill='%23000'/%3E%3Crect width='300' height='300' filter='url(%23n)' opacity='0.80'/%3E%3C/svg%3E");
}

body {
    background-color: var(--onebeld-background);
    color: var(--onebeld-color);
    font-family: var(--onebeld-font-family-main);
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.24);
}

::-webkit-scrollbar-thumb {
    background: #80808080;
    border-radius: 4px;
}

header {
    padding: 30pt 40pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 0 25pt;
    flex: 1 1 auto;
}

footer {
    padding: 10pt 10pt 5pt;
}

.card-container {
    display: flex;
    margin-top: 30pt;
    margin-bottom: 50pt;
    gap: 10pt;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 35pt;
    transition: opacity 500ms linear, transform 500ms ease-out;
    transform: translateY(30%);
    opacity: 0;
}

h1, h2, h3 {
    font-family: var(--onebeld-font-family-header);
}

.onebeld-logo {
    width: 125pt;
}

svg.hovered-icon {
    fill: var(--onebeld-color);
    transition: fill 100ms linear;
}

.hovered-icon:hover > svg {
    fill: var(--onebeld-color-selected);
}
.hovered-icon:active > svg {
    fill: var(--onebeld-color-pressed);
}

svg.link-icons {
    width: 20px;
    height: 20px;
}

.onebeld-logo > svg {
    height: auto;
    fill: var(--onebeld-color);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 15px;
}

.parallax {
    transform-style: preserve-3d;
    transform: perspective(5000px);
    transition: transform 1000ms ease-in-out;
}

div.navigation {
    display: flex;
    gap: 20pt;
}

a {
    color: var(--onebeld-color);
    text-decoration: none;
    transition: color 100ms linear;
}
a:hover {
    color: var(--onebeld-color-selected);
}
a:active {
    color: var(--onebeld-color-pressed);
}

div.navigation > a {
    font-family: var(--onebeld-font-family-header);
    font-size: 12pt;
}

div.footer-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 10pt;
}

div.footer-link-container > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5pt;
}

div.footer-link-container > h3 {
    margin: 0 0 10pt;
}

p.copyright {
    text-align: center;
    color: var(--onebeld-color-secondary);
    font-size: 10pt;
}

hr.footer-line {
    border: var(--onebeld-border-color) solid 1pt;
    border-radius: 100px;
    margin: 30pt 25pt 0 25pt;
}

/* Menu */
.menu-container {
    position: fixed;
    background-color: var(--onebeld-block-background-color);
    max-width: 250pt;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: var(--onebeld-border-radius) 0 0 var(--onebeld-border-radius);
    backdrop-filter: blur(15pt);
    border-left: var(--onebeld-border-color) 1pt solid;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: transform 300ms ease-in-out;
    transform: translateX(100%);
    pointer-events: none;
    z-index: 10;
}

.menu-button {
    background-color: transparent;
    border: none;
    padding: 8pt;
    margin: 0;
    color: var(--onebeld-color);
    align-items: center;
    border-radius: var(--onebeld-border-radius);
    transition: background-color 100ms linear, color 100ms linear;
    cursor: pointer;
    display: none;
}
.menu-button:hover {
    background-color: var(--onebeld-background-color-hover);
    color: var(--onebeld-color-selected);
}
.menu-button:active {
    background-color: var(--onebeld-background-color-active);
    color: var(--onebeld-color-pressed);
}

div.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50pt;
    gap: 15pt;
}
div.menu-links > a {
    font-family: var(--onebeld-font-family-header);
    font-size: 17pt;
}
div.menu-container > .links svg.link-icons {
    width: 20pt;
    height: 20pt;
}
div.menu-container > .links {
    gap: 25pt;
}

/* Icons sizes */
.material-symbols-rounded.md-18 {
    font-size: 18px;
}
.material-symbols-rounded.md-24 {
    font-size: 24px;
}
.material-symbols-rounded.md-36 {
    font-size: 36px;
}

@keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
}

@keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
}

/* Gradients */
.gradients-background {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
    top: 0;
    left: 0;
}

.gradients-container {
    filter: url(#goo) blur(60px);
    width: 100%;
    height: 100%;
}

.noise-background {
    top: 0;
    background: #000 var(--svg-noise);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.black-background {
    top: 0;
    background: #000;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.gradient-circle {
    position: absolute;
    mix-blend-mode: var(--blending);
    width: var(--circle-size);
    height: var(--circle-size);
}

.g1 {
    background: radial-gradient(circle at center, var(--color1) 0, var(--color1-hidden) 50%) no-repeat;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: center center;
    animation: moveInCircle 20s  reverse infinite;
    opacity: 1;
}

.g2 {
    background: radial-gradient(circle at center, var(--color2) 0, var(--color2-hidden) 50%) no-repeat;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;
    opacity: 1;
}

.g3 {
    background: radial-gradient(circle at center, var(--color3) 0, var(--color3-hidden) 50%) no-repeat;
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);
    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;
    opacity: 1;
}

.g4 {
    background: radial-gradient(circle at center, var(--color4-hidden) 0, var(--color4-hidden ) 50%) no-repeat;
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);
    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;
    opacity: 0.7;
}

.g5 {
    background: radial-gradient(circle at center, var(--color5) 0, var(--color5-hidden) 50%) no-repeat;
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));
    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;
    opacity: 1;
}

.interactive {
    background: radial-gradient(circle at center, var(--color-interactive) 0, var(--color-interactive-hidden) 50%) no-repeat;
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    opacity: 0.7;
}

@media screen and (max-width: 800px) {
    div.navigation {
        display: none;
    }
    div.links:not(div.menu-container > div.links) {
        display: none;
    }

    .menu-container {
        display: flex;
    }

    .menu-button {
        display: flex;
    }
}