main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    width: 250pt;
    height: 100%;
    padding: 10pt;
    display: flex;
    flex-direction: column;
    background-color: var(--onebeld-block-background-color);
    border-radius: var(--onebeld-border-radius);
    border: var(--onebeld-border-color) solid 1pt;
    transition: filter 100ms linear, box-shadow 100ms linear;
}

.project-image {
    width: 100%;
    border-radius: var(--onebeld-border-radius);
}

p.description {
    text-align: center;
    margin: 0 20pt;
    line-height: 1.4;
}

p.project-description {
    line-height: 1.4;
    margin: 0;
}

a > .project {
    color: var(--onebeld-color);
}
